name: Release

on:
  push:
    tags:
    - "v*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install TeX Live
      uses: zauguin/install-texlive@v4
      with:
        package_file: .github/tl_packages
    - name: Build distribution
      run: l3build ctan
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: figureversions-ctan.zip
